<?xml version="1.0"?>
<config>
    <modules>
        <Ikonoshirt_ExtendedAccountNavigation>
            <version>0.1.0</version>
        </Ikonoshirt_ExtendedAccountNavigation>
    </modules>
    <global>
        <blocks>
            <ikonoshirt_extendedaccountnavigation>
                <class>Ikonoshirt_ExtendedAccountNavigation_Block</class>
            </ikonoshirt_extendedaccountnavigation>
            <customer>
                <rewrite>
                    <account_navigation>Ikonoshirt_ExtendedAccountNavigation_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
    </global>
</config>